body {
  font-family: Arial;
  background: #f2f7ff;
  text-align: center;
}

input, select, button {
  padding: 10px;
  margin: 5px;
}

button {
  background: #2a5bd7;
  color: white;
  border: none;
  border-radius: 5px;
}

.box {
  background: white;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
}